<div class="container">
  <footer>
   <small>Copyright &copy;
    <a href="https://stackoverflow.com/users/12288988/nirav-kanani">Nirav kanani</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", welcome_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
